<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Sala</title>
</head>
<body>
    <h1>Crear Sala</h1>
    <form action="{{ url_for('main.create_room') }}" method="post">
        <label for="room_name">Nombre de la sala:</label>
        <input type="text" id="room_name" name="room_name" required>
        <br>
        <label for="public_key">Clave pública:</label>
        <input type="text" id="public_key" name="public_key" required>
        <br>
        <input type="submit" value="Crear Sala">
    </form>
    <a href="{{ url_for('main.index') }}">Volver al inicio</a>
</body>
</html>
